:root {
    --loader-bg: black;
  }
  
  .overlay--1aTlbi {
    background-color: black !important;
  }
  

body{
    background-color: black!important;
}
div[class*="actionsbar"] button span{
    background-color: black!important;
    border-color: white!important;

}
div[class*="chat"] button span{
    background-color: black!important;
    border-color: white!important;

}